Package: com.alienchang.instagramdownload
Name: instagramdownload
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Alienchang
Author: Alienchang
Section: Tweaks
Version: 0.0.1-24+debug
Installed-Size: 124
